table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: top;

}
th {
    background-color: #f2f2f2;
    text-transform: capitalize;
}

#call_for_paper h2{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
        color: black;
        margin-top: 10px;
}
#call_for_paper {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 110px 110px 5vw 5vw;
}

.heading-main{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    margin-top: 110px;
}

.abstract{
    margin: 5vh 5vw 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}